@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.title {
  font-size: 40px;
  font-weight: 400;
}

.title > span {
  font-weight: 600;
  color: #006d77;
}

.subtitle {
  font-size: 18px;
}

.form__field {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 48px 0;
  gap: 24px;
  border: 1.2px solid #006d77;
  padding: 20px 24px;
  border-radius: 4px;
}

.weight__field,
.height__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 18px;
}

input {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #dee2e6;
  padding: 12px 8px;
  font-size: 16px;
}

.alert__text {
  font-size: 14px;
  font-weight: 600;
  color: red;
}

.result__text {
  color: #006d77;
  font-weight: 300;
}

button {
  cursor: pointer;
  border: none;
  background-color: #006d77;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
}

button:hover {
  scale: 1.02;
  transition: 0.4s;
}
